:root {
    --primary-color: #543864;
    --primary-heading-color: white;
    --primary-text-color: #D0D0D0;
    --accent-color: #ff6464;
    --heading-color: black;
    --text-color: #373737;
}

#container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 5fr;
    height: 100vh;
}

#menu {
    padding-top: 30%;
    flex: 1;
    margin: 0;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    color: var(--primary-heading-color);
    font-family: 'Open Sans', sans-serif;
}

#menu header {
    margin-bottom: 8px;
    margin-left: unset;
}

#header-avatar {
    border-radius: 100%;
    border: 4px solid var(--accent-color);
    width: 100px;
    height: 100px;
}

@media (max-width: 800px) {
    #container {
        grid-template-rows: 1fr 10fr;
        grid-template-columns: 1fr;
    }

    #menu {
        flex-direction: row;
        padding-top: 0%;
        padding-left: 5%;
    }

    #menu header {
        margin-bottom: unset;
        margin-right: 8px;
    }

    #header-avatar {
        width: 50px;
        height: 50px;
    }

    #header-name, #header-text {
        display: none;
    }
}



#menu a {
    text-decoration: unset;
}

.menu-item {
    margin: 8px;
    transition: color 0.3s ease;
    color: var(--primary-heading-color);
}

.menu-item:hover {
    color: var(--accent-color);
}

#social-links {
    display: flex;
    margin: 12px;
    align-items: center;
}

.social-link {
    fill: var(--primary-heading-color);
    margin-left: 8px;
    margin-right: 8px;
    width: 16px;
    transition: fill 0.3s ease;
}

.social-link:hover {
    fill: var(--accent-color);
}

.primary-text {
    color: var(--primary-text-color);
}

#content {
    flex: 4;
    background-color: var(--primary-heading-color);
    overflow: auto;
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-right: 10%;
    font-family: 'Raleway', sans-serif;
}

#content h1 {
    color: var(--primary-color)
}

#content p {
    color: var(--text-color);
}

#content a {
    color: var(--accent-color);
}

#content blockquote {
    border-left: 4px solid var(--accent-color);
    padding-left: 16px;
}

#content li {
    margin: 8px;
    color: var(--text-color)
}